<h1>Island Information</h1>
<div>
<h3>About Taniti</h3>
  <p>
  Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles,
  the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests,
  and a mountainous interior that includes a small, active volcano. Taniti has an indigenous population of about 20,000. </p>
</div>
<div>
  <h3>Emergency Preparedness</h3>
  <p>
    There is one hospital and serveral clinics in the area. The hospital has many multilingual employees. If there is an emergency call 111.
  </p>
  <p>
    Violent Crime is very rare on Tanitit, but as tourism increases, the rate of pickpocketing and other petty crimes is increasing
  </p>
  <p>
    Hurricans and Tidal Waves do happen on occasion, please view safety documents before visiting .
  </p>
</div>
<div>
  <h3>General Information</h3>
  <p>Power: Power outlets are 120 volts, sam eas in America.</p>

  <p>Drinking Age: Drinking age is 18 yrs only, however it is not strictly enforced.
    Alcohol: Alcohol is not served between the hours of 12am and 9am.</p>

  <p>Currency: Uses US dollar as its main currency, however many business will accept euros and yen. Several banks facilitate currency change, and many businesses accept major credit cards.</p>
</div>
