
<h1>Adventure</h1>
<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

<!--  Washington Beach-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/stThomasBeach.webp" alt="St Thomas Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Washington Beach</h5>
      <div class="">
        Located at 12345 Yellow Leaf Bay, our facility is open daily from 7am to 7pm.
        Swimming is allowed and encouraged during these hours, so feel free to enjoy a
        refreshing dip in the water. However, please be aware that boats and fishing are
        prohibited to ensure a peaceful environment for all visitors.
      </div>
    </div>
  </div>

<!--  Jacksonville Beach-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center;">
    <div style="padding:10px">
    <img class="mr-3" src="/images/tropicalbeach.jpg" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Jacksonville Beach</h5>
      Our facility at 12344 Yellow Leaf Bay welcomes visitors from 6am to 9pm.
      Both swimming and fishing are permitted during these hours, so you can enjoy a
      relaxing swim or a productive fishing experience. Please note that boats are
      prohibited to maintain a serene atmosphere and ensure safety for all guests.
    </div>
  </div>

<!--  Tropical Rainforest-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img class="mr-3" src="/images/rainforest.jpg" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Tropical Rain Forest</h5>
      Visit the Tropical Rain Forest at 12222 Baker St, open from 7am to 5pm.
      To experience the beauty of our local rain forest, including diverse species of
      birds, frogs, and more, please make an appointment in advance by calling (111) 777-9999.
      Our tours are appointment-only to ensure a personalized and informative experience for each
      visitor.
    </div>
  </div>

<!--  Taniti Volcano-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img class="mr-3" src="/images/tanitiVolcano.webp" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Taniti Volcano</h5>
      Explore our local volcano at 33445 Exploration Dr, open daily from 7am to 5pm.
      To schedule a tour and ensure you have a knowledgeable guide, please call (111) 999-7777.
      Our tours offer the chance to witness the striking volcanic rock formations and breathtaking
      sights of this fascinating area.
    </div>
  </div>

<!--  Lake Fishing Tour-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center;">
    <div style="padding:10px">
      <img class="mr-3" src="/images/fishing-pic.jpg" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Lake Fishing Tour</h5>
      Located at 33444 Exploration Dr and open from 7am to 7pm, our lake fishing tour takes
      you to one of our remote lakes where you can catch rainbow trout, salmon, tropical fish,
      and more. To make an appointment call (111) 666-9999.

      <br/>
      <br/>
      Additionally, at 12345 Wall St, we offer a lake fishing tour from 6am to 9pm on a
      first-come, first-serve basis. This tour is very family-friendly, with flexible times
      and prices to accommodate your needs.
    </div>
  </div>

<!--  Snorkeling Tour-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center;">
    <div style="padding:10px">
      <img class="mr-3" src="/images/snorkeling.jpg" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Snorkeling</h5>
      Visit us at 12888 Exploration Dr, open from 9am to 5pm, to explore our spectacular
      coral reef with the assistance of a trained tour guide. Tours are available by appointment
      only. To make an appointment, call (111) 777-9988 to schedule your visit and ensure a personalized experience.
    </div>
  </div>

<!--Zip Lining-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img class="mr-3" src="/images/zipling.jpg" alt="Tropical Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Zip Lining</h5>
      Located at 99445 Exploration Dr and open from 8am to 7pm, you can experience
      breathtaking views of our beautiful island from the skies. We operate on a first-come,
      first-serve basis, but if you prefer to guarantee a spot, please call (999) 111-2222 to
      schedule an appointment. This is an excellent choice for family gatherings and memorable
      experiences.
    </div>
  </div>
</div>
