<h1>Food</h1>

<h2>Grocery Stores</h2>
<div style="display:flex; flex-wrap:wrap; flex-direction: row">
  <div style="display: flex; flex-direction: column; width:250px;">
<!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
<!--    Super Market-->
    <div >
      <h3>Super Market</h3>
      <p>Address: 55609 Exploration Dr</p>
      <p>Hours of Operation: 6am-11pm</p>

      <p>Includes bakery, deli, frozen foods, and more</p>
    </div>
  </div>

<!--  Super Market 2-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Super Market</h3>
      <p>Address: 80908 Yellow Leaf Bay</p>
      <p>Hours of Operation: 6am-10pm</p>

      <p>Includes bakery, deli, frozen foods, and more.</p>
    </div>
  </div>

<!--  Joe's Grocery-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Joe's Grocery</h3>
      <p>Address: 90807 Merriton Landing</p>
      <p>Hours of Operation: 7am-11pm</p>

      <p>Includes deli, frozen and refrigerated foods.</p>
    </div>
  </div>

  <!--  Will's Grocery-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Will's Grocery</h3>
      <p>Address: 708493 Adventure Ln</p>
      <p>Hours of Operation: 6am-9pm</p>

      <p>Includes bakery, deli and bulk catering options.</p>
    </div>
  </div>

  <!--  11's Conveience Store-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>11's Convenience Store</h3>
      <p>Address: 11300 Yellow Leaf Bay</p>
      <p>Hours of Operation: 24/7</p>

      <p>Drop by anytime for our variety of snacks and travel foods.</p>
    </div>
  </div>
</div>

<!--Restaurant Section-->

<!--Coco's Shrimp-->
<h2>Restaurants</h2>
<div style="display:flex; flex-wrap:wrap; flex-direction: row">
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
    </div>
    <!--    Super Market-->
    <div >
      <h3>Coco’s Shrimp</h3>
      <p>Address: 10009 Exploration Dr</p>
      <p>Hours of Operation: 10am-11pm</p>

      <p>Enjoy our wonderful selection of shrimp, rice, and salads. If you haven’t tried fried shrimp, now is your chance.</p>
    </div>
  </div>

  <!--  Red Lobster-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Red Lobster</h3>
      <p>Address: 36786 Yellow Leaf Bay</p>
      <p>Hours of Operation: 10am-10pm</p>

      <p>Enjoy our variety of fish, shrimp and more.</p>
    </div>
  </div>

  <!--  Chipotle-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Chipotle</h3>
      <p>90347 Merriton Landing</p>
      <p>Hours of Operation: 7am-11pm</p>

      <p>Enjoy some American Style Cuisine from a make it your own menu of burritos, bowls, and salads.</p>
    </div>
  </div>

  <!--  Chick Fil A-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Chick Fil A</h3>
      <p>Address: 70098 Adventure Ln</p>
      <p>Hours of Operation: 6am-10pm</p>

      <p>Enjoy some American Style Cuisine where the most popular item is the Chicken Sandwich and Fries.</p>
    </div>
  </div>

  <!--  Joe’s Fish and Rice-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Joe’s Fish and Rice</h3>
      <p>Address: 565656 Exploration Dr</p>
      <p>Hours of Operation: 8am-11pm</p>

      <p>Enjoy our wonderful selection of fish and rice.</p>
    </div>
  </div>
  <!--  Betty’s Shrimp-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Betty’s Shrimp</h3>
      <p>Address: 80908 Yellow Leaf Bay</p>
      <p>Hours of Operation: 10am-10pm</p>

      <p>Enjoy our wonderful selection of Shrimp.</p>
    </div>
  </div>

  <!--  Sardines-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Sardines</h3>
      <p>Address: 90807 Merriton Landing</p>
      <p>Hours of Operation: 7am-11pm</p>

      <p>Enjoy our wonderful selection of sardines, rice, and more.</p>
    </div>
  </div>

  <!--  Salmon and Trout-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Salmon and Trout</h3>
      <p>Address: 708493 Adventure Ln</p>
      <p>Hours of Operation: 6am-9pm</p>

      <p>Enjoy our selection of salmon, trout, biscuits, rice and more.</p>
    </div>
  </div>

  <!--  Pan Asian Cuisine-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Pan Asian Cuisine</h3>
      <p>Address: 11300 Yellow Leaf Bay</p>
      <p>Hours of Operation: 10am-9pm</p>

      <p>
        Enjoy our Pan Asian Cuisine, which includes fried rice, Thai Curries, Sushi, and more.</p>
    </div>
  </div>

  <!--  Asian Cuisine-->
  <div style="display: flex; flex-direction: column; width:250px;">
    <!--    Restaurant Rating-->
    <div style="display: flex; flex-direction: row; padding:5px">
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:blue;"/>
      </svg>
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <polygon points="10,1 4,20 19,7 1,7 16,20" style="fill:grey;"/>
      </svg>
    </div>
    <!--    Restaraunt Name and Info-->
    <div >
      <h3>Asian Cuisine</h3>
      <p>Address: 11300 Yellow Leaf Bay</p>
      <p>Hours of Operation: 10am-9pm</p>

      <p>
        Enjoy our Pan Asian Cuisine, which includes fried rice, Thai Curries, Sushi, and more.</p>
    </div>
  </div>
</div>
