
<h1>Entertainment</h1>
<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

  <!--  Arcade-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/arcade-9.jpg" alt="Arcade" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Arcade</h5>
      <div class="">
        We are located at 12345 Meriton Landing and are open from 9am to 9pm.
        There a many games and activities to pick from, for all ages including adults!
        Come and enjoy a great time at our local arcade, where kids can have a world of fun.
      </div>
    </div>
  </div>

  <!--  Helicopter Rides-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/helicopterImage.jpg" alt="Helicopter Rides" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Helicopter Rides</h5>
      <div class="">
        We are located at 55555 Merriton Landing and are open from the hours of 7am to 9pm.
        View the Island from above in our helicopter rides. Rides are $50 per person
        and $25 per child under the age of 12.
      </div>
    </div>
  </div>

  <!--  Bowling-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/bowling.jpg" alt="Bowling image" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Bowling</h5>
      <div class="">
        We are located at 122222 Baker St and are open from the hours of 12pm to 8pm.
        Enjoy a night of bowling. Prices are $20 per adult, and $12 per child under the age of 16.
      </div>
    </div>
  </div>

  <!--  Tropical Rian Dance Club-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/danceClubs.jpg" alt="Dance Club" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Tropical Rain Dance Club</h5>
      <div class="">
        We are located at 124443 Baker St and are open from the hours of 12pm to 12am.
        Enjoy a night of dancing with your friends. family, and maybe someone new.
        Prices are $20 per adult, and you must be 18 years of age or older to attend.
      </div>
    </div>
  </div>

  <!--  Microbrewery-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/brewery.jpg" alt="Microbrewery" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Microbrewery</h5>
      <div class="">
        We are located at 444555 Wall St and are open from the hours of 9am to 6pm.
        Make new cocktails, try our fan favorites, and more at our local microbrewery.
        Please call ahead to make a reservation at (719) 597-5678. Pricing varies by party size.
      </div>
    </div>
  </div>

  <!--  Pubs-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/localPubs.jpg" alt="Local Pubs" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Allen's Pub</h5>
      <div class="">
        We are located at 14599 Winery Circle and are open from the hours of 12pm to 1am.
        Make new cocktails, try our fan favorites, and more at our local pubs. Allen's was established in 1958
        and is the oldest and most influential pub in Taniti.
        Please call ahead to make a reservation at (719) 597-5678. Pricing varies by party size.
      </div>
    </div>
  </div>

  <!--  Golf Course-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/pngtree-coming-soon-png-image_3643152.jpg" alt="Coming Soon Golf Course" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Golf Course</h5>
      <div class="">
        Coming Soon!
        <br>
        Our 9 hole golf course is estimated to be completed next August.
      </div>
    </div>
  </div>
</div>
