<h1>Transportation</h1>

<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

  <!--  Air-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/717044-cessna-airplane-aircraft-transport.jpg" alt="Airplane" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Air</h5>
      <div class="">
        Our local airport can support small jets and propeller planes, as well as commercial flights that are scheduled.
      </div>
    </div>
  </div>

  <!--  Buses-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/busTours.jpg" alt="Airplane" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Buses</h5>
      <div class="">

        Public buses: Buses are running from 5am-11pm.
        <br>
        Private Buses: Are available for rent.
      </div>
    </div>
  </div>

  <!--  Boat-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/boats.jpeg" alt="Boat" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Boat</h5>
      <div class="">
        The main dock receives one ship per week to deliver travelers from the main land.
      </div>
    </div>
  </div>

  <!--  Rental Cars And Biking-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/lights-car-vehicle-244206%20(2).jpg" alt="Boat" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Rental Cars</h5>
      <div class="">
        Are for rent near the airport, rates vary depending on availability and car.
      </div>
      <br>
      <h5 class="mt-0">Bikes</h5>
      <div class="">
        Are available for rent, both adult and children sizes are available. Helmets are required by law.
      </div>
    </div>
  </div>
</div>
