<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-nav">
    <a class="navbar-brand mb-lg-0 h1 " routerLink="/">Taniti Islands</a>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adventure"> Adventure </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/entertainment"> Entertainment </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/museum"> Sight Seeing </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/food"> Food </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lodging"> Lodging </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transportation"> Transportation </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/information"> Island Information </a>
    </li>
  </div>
</nav>


<!-- main content container -->
<div class="jumbotron">
  <router-outlet></router-outlet>
</div>
