<h1>Lodging</h1>

<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

  <!--  Taniti Resort-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/luxuryresort.jpg" alt="Taniti City" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Taniti Resort</h5>
      <div class="">
        Enjoy a nice vacation at our 4 Star Resort. We are located at  10980 Beach way.

        <br>
        <br>
        We offer many different sizes of rooms, from two double beds, 1 california king, and full suites with a kitchenette.

        <h6>Amenities</h6>
        <ul>
          <li>Pool</li>
          <li>Sauna</li>
          <li>Mini Fridge</li>
          <li>Complementary Breakfast</li>
        </ul>


      </div>
    </div>
  </div>

  <!--  Billy's Hotel-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/BB.jpg" alt="Hotel Bedroom" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Billy's Hotel</h5>
      <div class="">
        Enjoy a nice vacation at our 2 Star Hotel. We are located at  11145 Beach way.

        <br>
        <br>
        We offer many different sizes of rooms, from two double beds, 1 california king with couch and more.

        <h6>Amenities</h6>
        <ul>
          <li>Pool</li>
          <li>Mini Fridge</li>
          <li>Complementary Breakfast</li>
        </ul>


      </div>
    </div>
  </div>

  <!--  Bed and Breakfast-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/dsc05629.jpg" alt="Bed and Breakfast" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Cindy's Bed and Breakfast</h5>
      <div class="">
        Enjoy a nice vacation at our locally owned hotel. We are located 56 Shady Circle.

        <br>
        <br>
        We offer many different sizes of rooms, from two double beds, 1 california king with couch and more.

        <h6>Amenities</h6>
        <ul>
          <li>Mini Fridge</li>
          <li>Complementary Breakfast</li>
        </ul>


      </div>
    </div>
  </div>
</div>
