<h1>Sight Seeing</h1>

<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

  <!--  Taniti City-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/islandVillage.jpg" alt="Taniti City" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Taniti City</h5>
      <div class="">
        Our small and secluded city has lots of beautiful architecture and amazing views of the island. Taniti historically produced lots of fish and agricultural products.

      </div>
    </div>
  </div>

  <!--  Boat Tours -->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/boatTour.jpg" alt="Boat Tour" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Boat Tours</h5>
      <div class="">
        Would you like to sit back and relax, while we show you around our beautiful island. Our boat and bus tours are perfect for you!

        Our Boat Tour takes a look around the whole island, where you can see the many beaches, local architecture and more.

      </div>
    </div>
  </div>

  <!--  Bus Tours -->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/busTours.jpg" alt="Bus Tour" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Bus Tours</h5>
      <div class="">
        Would you like to sit back and relax, while we show you around our beautiful island. Our boat and bus tours are perfect for you!

        Our Bus Tour takes a look around the whole island, from our natural laying roads and infrastructure.

      </div>
    </div>
  </div>

  <!--  Hiking and Adventure -->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/tanitiVolcano.webp" alt="Taniti Volcano" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Hiking and Adventure</h5>
      <div class="">
        Our more popular hikes are our guided tours into our tropical rain forest and our guided tours up to our active volcano.

        To schedule a tour please visit our adventure page.

        Explore our wonderful local rain forest, which includes many species of bird, frog and more.

        Explore our local volcano, which includes lots of volcanic rock, amazing sights, and more.

      </div>
    </div>
  </div>

  <!--  Yellow Leaf Bay -->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/stThomasBeach.webp" alt="St Thomas Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Yellow Leaf Bay</h5>
      <div class="">
        Would you like to relax on a white sandy beach? Well look no further, as our Yellow Leaf Bay has many beaches to choose from.

        For more information about our beaches visit our adventure page.


        Enjoy some family time while swimming in the water, or just relaxing in the sand.

      </div>
    </div>
  </div>

  <!--  Local History Museum-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/museums.webp" alt="St Thomas Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Local History Museum</h5>
      <div class="">
        We are located at 2123 Merriton Landing, and are open from 9am to 7pm.
        <br>
        <br>
        Our local history museum costs $15 per adult, and $5 per child. Tickets can be bought at the entrance with cash or card.

      </div>
    </div>
  </div>

  <!-- Art Galleries-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/artGallery.jpg" alt="Art Gallery" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Local History Museum</h5>
      <div class="">
        We are located at 2343 Merriton Landing, and are open from 9am to 7pm.
        <br>
        <br>

        Our Art museums are free to the public, but no snacks or drink are allowed in the premises.

      </div>
    </div>
  </div>
</div>
