<h1>Sight Seeing</h1>

<div style="display:flex; flex-direction: column; width: 75vw; justify-content: space-evenly;" >

  <!--  Washington Beach-->
  <div class="media" style="display:flex; flex-direction: row; align-content: center; ">
    <div style="padding:10px">
      <img src="/images/" alt="St Thomas Beach" width="350px">
    </div>
    <div class="media-body" style="padding:10px">
      <h5 class="mt-0">Washington Beach</h5>
      <div class="">
        Located at 12345 Yellow Leaf Bay, our facility is open daily from 7am to 7pm.
        Swimming is allowed and encouraged during these hours, so feel free to enjoy a
        refreshing dip in the water. However, please be aware that boats and fishing are
        prohibited to ensure a peaceful environment for all visitors.
      </div>
    </div>
  </div>
</div>
