
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="bg"
           style="background-image: url('/images/tropicalbeach.jpg');
                        background-size: cover;
                        background-position: center;
                        height: 100vh;">
        <div class="d-flex flex-column justify-content-center
                                align-items-lg-start h-100 text-center text-white">
          <h2 class="display-9"
              style="font-weight: bold; color:white; width: 25vw;">
            <b>Escape the big city</b>
          </h2>
          <h1 class="display-2"
              style="font-weight: bold; color:white; width: 40vw;">
            Discover the joy of island life
          </h1>
          <h2 class="display-9"
              style="font-weight: bold; width: 50vw; padding: 5px">
            <button class="btn-primary"
              style="background: #FFFFFF; border: none; border-radius: 5px; padding: 10px; color: #738B13"
                    routerLink="/booking" >Book A Trip</button>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>



